<p>Dear {{name}},</p>

<p>
As previously announced, the Society of Research Software Engineering is holding its annual general meeting on <strong>Wednesday the 7th September 2022 at 17:00 in Auditorium G41, The Frederick Douglass Centre, Newcastle, UK as part of RSECon2022</strong>.
As part of our AGM, members will be able to vote on the appointment of new trustees to the board.
Full details of the AGM and the trustee nominees can be found at <a href="https://society-rse.org/society-of-rse-agm-2022/">https://society-rse.org/society-of-rse-agm-2022/</a>.
</p>

<h2>Voting</h2>

<p>
This email contains your token for voting at the Society of Research Software Engineering AGM.
You must use this token in the voting form to allow your vote to be validated.
</p>

<p>
Voting will be performed via an online form into which you must enter a personal voting token (provided below), as well as your desired votes.
The form can be found at <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3ElvB5h86KIfmTAMaGpNMvfwzYsJA1DNKARP3YYM8ZoEbiA/viewform">https://docs.google.com/forms/d/e/1FAIpQLSc3ElvB5h86KIfmTAMaGpNMvfwzYsJA1DNKARP3YYM8ZoEbiA/viewform</a>.
This voting token allows us to validate your vote against our membership list.
</p>

<p>
Your token is:
<pre style="font-size:2em">{{token}}</pre>
</p>

<p>
The voting form is open for votes as of now and will close during the meeting, at which time the votes will be counted and the result announced.
</p>

<p>
Thanks,<br/>
{{sender}} on behalf of the Society of Research Software Engineering
</p>
