<p>Dear {{name}},</p>

<p>
As previously announced, the trustees of the Society of Research Software Engineering are holding an online general meeting of the membership on <strong>Monday the 18th July 2022 at 2 PM UK time (UTC+1)</strong>.
</p>

<p>
This special meeting is for the purpose of voting on changes to the constitution in advance of the trustee elections at the AGM later this year in September at RSECon22.
Full details of the resolutions to be voted upon can be found at <a href="https://society-rse.org/special-general-meeting-2022-constitutional-amendments/">https://society-rse.org/special-general-meeting-2022-constitutional-amendments/</a>.
</p>

<h2>Joining the meeting</h2>

<p>
The meeting will be hosted on Zoom and can be connected to with these details:
<ul>
<li>Joining URL: <a href="https://us06web.zoom.us/j/85795492172?pwd=Z2c3UytmdWZMYXVvbEIzeEJKTXZiZz09">https://us06web.zoom.us/j/85795492172?pwd=Z2c3UytmdWZMYXVvbEIzeEJKTXZiZz09</a></li>
<li>Meeting ID: 857 9549 2172</li>
<li>Passcode: 294670</li>
</ul>
</p>

<h2>Voting</h2>

<p>
Voting will be performed via an online form into which you must enter a personal voting token (provided below), as well as your desired votes.
The form can be found at <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2t6BCZt3U_Fd87FCHuzXHjrCWFjr46F8r5TFzrEdZiLbN5Q/viewform">https://docs.google.com/forms/d/e/1FAIpQLSd2t6BCZt3U_Fd87FCHuzXHjrCWFjr46F8r5TFzrEdZiLbN5Q/viewform</a>.
This voting token allows us to validate your vote against our membership list.
</p>

<p>
Your token is:
<pre style="font-size:2em">{{token}}</pre>
</p>

<p>
The voting form will close during the meeting, at which time the votes will be counted and the result announced.
You may use this form to vote whether you are present at the meeting or not.
</p>

<p>
Thanks,<br/>
{{sender}}
</p>
