<p>Dear {{name}},</p>

<p>
The Society of Research Software Engineering is holding its annual Trustee elections for 2023.
</p>

<h2>Candidates</h2>
<p>
We have published a <a href="about:blank">candidate statement</a> page detailing all the candidates and their election statements.
We thank every nominee and seconder for their dedication to the community. Please read the candidate statements carefully and cast your votes appropriately.
</p>

<h2>Voting</h2>

<p>
Voting is performed via an online form into which you must enter your personal voting token (provided below).
The voting token allows us to validate your vote while keeping your identify from the two independent scrutineers.
Voting will follow the single transferable vote system.
This year we will recruit XXX7XXX new Trustees.
You may vote more than once, with your most recent vote being the one that counts.
</p>

<p>
Your Trustee elections 2023 token is:
<pre style="font-size:1.25em">{{token}}</pre>
The voting form is:
<pre style="font-size:1.25em"><a href="about:blank">https://society-rse.org/XXX</a></pre>
</p>

<p>
The voting is open as of now and will close 10:00am BST, Tuesday 5 September
</p>

<p>
Thanks,<br/>
{{sender}} on behalf of the Society of Research Software Engineering
</p>
