<p>Dear {{name}},</p>

<p>
The Society of Research Software Engineering is holding its annual Trustee elections for 2023.
</p>

<h2>Candidates</h2>
<p>
We have published a <a href="https://society-rse.org/2023-trustee-elections">candidate statements</a> page detailing all the candidates and their election statements.
We thank every candidate, seconder and scrutineer for their dedication to the community. Please read the candidate statements carefully and cast your votes appropriately.
</p>

<h2>Voting</h2>
<p>
Voting is performed via an online form into which you must enter your personal voting token (provided below).
The voting token allows us to validate your vote, while not exposing your identity.
The elections are overseen by two independent scrutineers (Jonathan Cooper and Simon Hettrick).
Voting will follow the single transferable vote system.
This year we will elect the maximum permitted by our constitution: 7 Trustees from 8 candidates.
You may vote more than once, with your most recent vote being the one that counts.
</p>

<p>
Your Trustee elections 2023 token is:
<pre style="font-size:1.25em">{{token}}</pre>
The voting form is:
<pre style="font-size:1.25em"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc7clM__THziJjSxiYduaCHUe8Jh_GtYDSOY7nSI6Z8e63TVA/viewform">SocRSE Trustee elections 2023</a></pre>
</p>

<p>
The voting is open as of now and will close 10:00am BST, Tuesday 5 September
</p>

<p>
Thanks,<br/>
{{sender}} on behalf of the Society of Research Software Engineering
</p>
