<p>Dear {{name}},</p>

<p>
The Society of Research Software Engineering is holding its annual Trustee elections for 2025. 
As a member, you are eligible to vote for the trustees who will lead the Society over the next 12 months.
</p>

<h2>Candidates</h2>
<p>
This year we will elect the maximum permitted by our constitution: <b>8 Trustees from 10 candidates</b>.
Please read the candidate statements carefully and cast your votes appropriately.
</p>

<ul>
    <li>
        We have published a list of <a href="https://society-rse.org/2025-trustee-elections">candidates and their statements</a>.
    </li>
</ul>

<p>
Thank you to all the nominees for their dedication to the community, as well as to their seconders and our scrutineers.
</p>

<h2>Voting</h2>
<p>
Voting is performed via an online form, into which you must enter your unique voting token (provided below).
The voting token allows us to validate your vote, while not exposing your identity.
</p>

<ul>
    <li>
        Your unique voting token is: <b>{{token}}</b>.
    </li>
    <li>
        The voting form is: 
        <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSe4ocC_8B91-mOgzaBDJ__0ecA93rUpJHO6J70eHKTJaU9hfw/viewform">SocRSE Trustee elections 2025</a></b>. 
    </li>
</ul>

<p>
Voting will take place between now and <b>23:59 BST on Friday 22nd August 2025</b>.
</p>

<p>
Voting will follow the single transferable vote system. You may vote more than once, but only your most recent vote will count.
Votes will be verified by two independent scrutineers (Jonathan Cooper and Simon Hettrick).
</p>

<h2>Results</h2>
<p>
The results of the election will be announced at the Society's Annual General Meeting (AGM), which will take place
at <a href="https://rsecon25.society-rse.org/">RSECon25</a> on <b>Wednesday 10th September 2025</b> at 17:00 BST.
</p>

<p>
If you have any questions or concerns, please contact us at <a href="mailto:trustees@society-rse.org">trustees@society-rse.org</a>.
</p>

<p>
Thanks,<br/>
</p>
<br/>
<p>
{{sender}} on behalf of the Society of Research Software Engineering.<br/>
<i>The Elections working group for 2025 is: Abie Alexander-Ikwue (chair), Mike Simpson and Kirsty Pringle.</i>
</p>
