<p>Dear {{name}},</p>

<p>
As part of our AGM members are expected to vote on the appointment of new trustees to the board and a number of proposed ammendments to the constitution.
Full details can be found at <a href="https://society-rse.org/formal-notice-of-annual-general-meeting/">https://society-rse.org/formal-notice-of-annual-general-meeting/</a>.
Votes must be cast during the first part of the AGM but you are able to vote during this window even if not in attendance.
This year we are using a system of voting tokens emailed out to members which ensures your vote is valid.
Votes will be counted during the AGM and announced during the meeting.
</p>

<p>
---
</p>

<p>
This email contains your token for voting at the Society of Research Software Engineering AGM.
You must use this token in the voting form to allow your vote to be validated.
</p>

<p>
Your token is:
<pre>{{token}}</pre>
</p>

<p>
The voting form will be open during the first part of the AGM from 10:00 to 10:45 BST / UTC+1 on the morning of Thursday 30th September and can be found at <a href="https://society-rse.org/links/agm-2021-voting">https://society-rse.org/links/agm-2021-voting</a>.
You may use this form to vote whether you are present at the AGM or not.
</p>

<p>
If you will be unable to vote during this time you may instead choose to share your token with another member for them to submit a proxy vote on your behalf.
The simplest way to share your token with your proxy is to forward this email to them.
If you are acting as a proxy, after you have submitted your own vote, please complete the form again for the proxy voter, using the token which belongs to them - do not use your own token twice.
</p>

<p>
Thanks,<br/>
{{sender}} on behalf of the Society of Research Software Engineering
</p>
