<p>Dear {{name}},</p>

<p>
    Thank you to everyone who has taken part in our membership consultation on our ethical sponsorship policy. 
    Most areas remain the same for the final membership vote, some have been updated. 
</p>

<p>
    More details at the end of the email and on 
    <a href="https://society-rse.org/about/policies/avoidance-criteria-for-ethical-sponsorship-policy/">our website</a>.
</p>

<h2>Voting</h2>
<p>
    Voting is performed via an online form, into which you must enter your unique voting token (provided below). 
    The voting token allows us to validate your vote, while not exposing your identity. 
</p>

<ul>
    <li>
        Your unique voting token is: <b>{{token}}</b>.
    </li>
    <li>
        The voting form is: 
        <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSeSK52YIxwAyzf5UsoAdYW9IMagtvFVDxyk0vPz2qevQBzuFw/viewform">the voting form</a></b>. 
    </li>
</ul>

<p>
Voting will take place between now and <b>23:59 UTC on Wednesday 18 February 2026</b>.
</p>

<p>
    Each vote will be a simple majority and we will require at least 10% of the membership to cast a vote for any areas to pass. 
    If the vote on “The sponsorship policy should only have legally required areas of exclusion” receives more yes than no votes, 
    then none of the subsequent votes will be counted. 
</p>

<p>
    Votes will be verified and counted by trustees of SocRSE.
</p>

<h2>Areas for vote</h2>
<p>
    The final voting areas will be:
</p>
<ul>
    <li>
        The sponsorship policy should only have legally required areas of exclusion.
    </li>
    <li>
        “Political Consulting” firms.
    </li>
    <li>
        Arms trade (excluding UK public bodies).
    </li>
    <li>
        Defence (including UK public bodies and arms trade).
    </li>
    <li>
        Fossil fuel.
    </li>
    <li>
        Social media.
    </li>
    <li>
        Companies Involved in Human Rights Violations or Unethical Labour Practices.
    </li>
    <li>
        Gambling.
    </li>
    <li>
        AI Hyperscalers.
    </li>
    <li>
        For-profit surrogacy.
    </li>
    <li>
        Ultra-processed food industry.
    </li>
</ul>

<p>
    These areas are already excluded by law, so will not be voted on:
</p> 
<ul>
    <li>
        Tobacco.   
    </li>
    <li>
        Political parties.
    </li>
</ul>

<p>
    These areas are already excluded by law, so will not be voted on:
</p> 
<ul>
    <li>
        Tobacco.   
    </li>
    <li>
        Political parties.
    </li>
</ul>

<h2>Results</h2>
<p>
    We are planning to run an online feedback event in February or March and will publish the results during that meeting. 
    We will also publish them on our website following the meeting.
</p>
    
<h2>Questions or concerns?</h2>
<p>
    Please contact us at <a href="mailto:governance@society-rse.org">governance@society-rse.org</a> and discuss this on the Slack discussion 
    in <a href="https://ukrse.slack.com/archives/C09G1JS3WUR">#ethical-sponsorship-policy</a>.
</p>

<p>
Thanks,<br/>
</p>
<br/>
<p>
    <i>{{sender}} on behalf of the Society of Research Software Engineering.</i>
</p>
